In [114]:
import os
# Find the latest version of spark 3.x  from https://downloads.apache.org/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.5.4'
spark_version = 'spark-3.5.4'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:10 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Fetched 384 kB in 2s (245 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [115]:
!wget -O PUB_HourlyConsumptionByFSA_202411_v1.csv "https://drive.google.com/uc?id=1uVGnVBo7pOMzKj4stuwy88xjsdzxeMun&export=download"

--2025-02-16 16:31:17--  https://drive.google.com/uc?id=1uVGnVBo7pOMzKj4stuwy88xjsdzxeMun&export=download
Resolving drive.google.com (drive.google.com)... 74.125.195.101, 74.125.195.102, 74.125.195.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1uVGnVBo7pOMzKj4stuwy88xjsdzxeMun&export=download [following]
--2025-02-16 16:31:17--  https://drive.usercontent.google.com/download?id=1uVGnVBo7pOMzKj4stuwy88xjsdzxeMun&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.142.132, 2607:f8b0:400e:c08::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.142.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12918841 (12M) [application/octet-stream]
Saving to: ‘PUB_HourlyConsumptionByFSA_202411_v1.csv’

PUB_HourlyConsumpti 100%[===================>]  12.32M  --.-KB/s    in 0.1s

2025-02-16 16:31:24 (110 MB/s) - ‘PUB_HourlyConsumptionByFSA_202411_v1.csv’ saved [12918841/12918841]

In [116]:
!file PUB_HourlyConsumptionByFSA_202411_v1.csv

PUB_HourlyConsumptionByFSA_202411_v1.csv: Zip archive data, at least v2.0 to extract, compression method=deflate

In [117]:
!mv PUB_HourlyConsumptionByFSA_202411_v1.csv PUB_HourlyConsumptionByFSA_202411_v1.zip
!unzip PUB_HourlyConsumptionByFSA_202411_v1.zip -d /content

Archive:  PUB_HourlyConsumptionByFSA_202411_v1.zip
  inflating: /content/PUB_HourlyConsumptionByFSA_202411_v1.csv

In [118]:
!tail -n +4 PUB_HourlyConsumptionByFSA_202411_v1.csv > november_data.csv

In [119]:
!ls

november_data.csv			  spark-3.5.4-bin-hadoop3
PUB_HourlyConsumptionByFSA_202411_v1.csv  spark-3.5.4-bin-hadoop3.tgz
PUB_HourlyConsumptionByFSA_202411_v1.zip  spark-3.5.4-bin-hadoop3.tgz.1
sample_data				  spark-3.5.4-bin-hadoop3.tgz.2

In [120]:
!head november_data.csv

FSA,DATE,HOUR,CUSTOMER_TYPE,PRICE_PLAN,TOTAL_CONSUMPTION,PREMISE_COUNT
L6R,2024-11-01,1,Residential,Tiered,697.2,1177
N6C,2024-11-01,1,Residential,Tiered,850.9,1832
N9,2024-11-01,1,SGS <50kW,Retailer,1773.6,360
M3K,2024-11-01,1,SGS <50kW,TOU,267.4,283
L7A,2024-11-01,1,SGS <50kW,Retailer,278.1,58
M5G,2024-11-01,1,Residential,ULO,9.5,25
K1E,2024-11-01,1,SGS <50kW,TOU,133.4,85
M1R,2024-11-01,1,SGS <50kW,Tiered,1239.3,442
M4N,2024-11-01,1,Residential,Tiered,318.1,624

In [121]:
import os
file_path_11 = os.path.abspath("november_data.csv")
print(file_path_11)

/content/november_data.csv

In [122]:
!ls /content

november_data.csv			  spark-3.5.4-bin-hadoop3
PUB_HourlyConsumptionByFSA_202411_v1.csv  spark-3.5.4-bin-hadoop3.tgz
PUB_HourlyConsumptionByFSA_202411_v1.zip  spark-3.5.4-bin-hadoop3.tgz.1
sample_data				  spark-3.5.4-bin-hadoop3.tgz.2

In [123]:
!rm -rf /tmp/spark*

In [124]:
import os
file_path = os.path.abspath("november_data.csv")
print(file_path)

/content/november_data.csv

In [125]:
from pyspark.sql import SparkSession

# Stop the existing session
spark.stop()

# Recreate the Spark session
spark = SparkSession.builder.appName("CleanFileLoad").getOrCreate()

In [126]:
df_11 = spark.read.csv(file_path, sep=",", inferSchema=True, header=True)
df_11.show(5)

+---+----------+----+-------------+----------+-----------------+-------------+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|
+---+----------+----+-------------+----------+-----------------+-------------+
|L6R|2024-11-01|   1|  Residential|    Tiered|            697.2|         1177|
|N6C|2024-11-01|   1|  Residential|    Tiered|            850.9|         1832|
| N9|2024-11-01|   1|    SGS <50kW|  Retailer|           1773.6|          360|
|M3K|2024-11-01|   1|    SGS <50kW|       TOU|            267.4|          283|
|L7A|2024-11-01|   1|    SGS <50kW|  Retailer|            278.1|           58|
+---+----------+----+-------------+----------+-----------------+-------------+
only showing top 5 rows

In [127]:
!wget -O PUB_HourlyConsumptionByFSA_202407_v1.csv "https://drive.google.com/uc?id=1QKtvOUyN9RoXqsKHbScCZi7KAD1erEdY&export=download"

--2025-02-16 16:32:02--  https://drive.google.com/uc?id=1QKtvOUyN9RoXqsKHbScCZi7KAD1erEdY&export=download
Resolving drive.google.com (drive.google.com)... 74.125.195.113, 74.125.195.138, 74.125.195.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1QKtvOUyN9RoXqsKHbScCZi7KAD1erEdY&export=download [following]
--2025-02-16 16:32:02--  https://drive.usercontent.google.com/download?id=1QKtvOUyN9RoXqsKHbScCZi7KAD1erEdY&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.142.132, 2607:f8b0:400e:c08::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.142.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13499690 (13M) [application/octet-stream]
Saving to: ‘PUB_HourlyConsumptionByFSA_202407_v1.csv’

PUB_HourlyConsumpti 100%[===================>]  12.87M  --.-KB/s    in 0.05s

2025-02-16 16:32:07 (263 MB/s) - ‘PUB_HourlyConsumptionByFSA_202407_v1.csv’ saved [13499690/13499690]

In [128]:
!wget -O PUB_HourlyConsumptionByFSA_202404_v1.csv "https://drive.google.com/uc?id=17skQsK2TkmvD5Pvioc1iO7gmWuaZWSYS&export=download"

--2025-02-16 16:32:12--  https://drive.google.com/uc?id=17skQsK2TkmvD5Pvioc1iO7gmWuaZWSYS&export=download
Resolving drive.google.com (drive.google.com)... 74.125.195.113, 74.125.195.138, 74.125.195.139, ...
Connecting to drive.google.com (drive.google.com)|74.125.195.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=17skQsK2TkmvD5Pvioc1iO7gmWuaZWSYS&export=download [following]
--2025-02-16 16:32:12--  https://drive.usercontent.google.com/download?id=17skQsK2TkmvD5Pvioc1iO7gmWuaZWSYS&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 74.125.142.132, 2607:f8b0:400e:c08::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|74.125.142.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12719729 (12M) [application/octet-stream]
Saving to: ‘PUB_HourlyConsumptionByFSA_202404_v1.csv’

PUB_HourlyConsumpti 100%[===================>]  12.13M  --.-KB/s    in 0.09s

2025-02-16 16:32:17 (142 MB/s) - ‘PUB_HourlyConsumptionByFSA_202404_v1.csv’ saved [12719729/12719729]

In [129]:
!file PUB_HourlyConsumptionByFSA_202407_v1.csv

PUB_HourlyConsumptionByFSA_202407_v1.csv: Zip archive data, at least v2.0 to extract, compression method=deflate

In [130]:
!mv PUB_HourlyConsumptionByFSA_202407_v1.csv PUB_HourlyConsumptionByFSA_202407_v1.zip
!unzip PUB_HourlyConsumptionByFSA_202407_v1.zip -d /content

Archive:  PUB_HourlyConsumptionByFSA_202407_v1.zip
  inflating: /content/PUB_HourlyConsumptionByFSA_202407_v1.csv

In [131]:
!tail -n +4 PUB_HourlyConsumptionByFSA_202407_v1.csv > july_data.csv

In [132]:
!file PUB_HourlyConsumptionByFSA_202404_v1.csv

PUB_HourlyConsumptionByFSA_202404_v1.csv: Zip archive data, at least v2.0 to extract, compression method=deflate

In [133]:
!mv PUB_HourlyConsumptionByFSA_202404_v1.csv PUB_HourlyConsumptionByFSA_202404_v1.zip
!unzip PUB_HourlyConsumptionByFSA_202404_v1.zip -d /content

Archive:  PUB_HourlyConsumptionByFSA_202404_v1.zip
  inflating: /content/PUB_HourlyConsumptionByFSA_202404_v1.csv

In [134]:
!tail -n +4 PUB_HourlyConsumptionByFSA_202404_v1.csv > april_data.csv

In [135]:
file_path_7 = os.path.abspath("july_data.csv")
file_path_4 = os.path.abspath("april_data.csv")

In [136]:
df_7 = spark.read.csv(file_path_7, sep=",", inferSchema=True, header=True)
df_4 = spark.read.csv(file_path_4, sep=",", inferSchema=True, header=True)

# Show the first few rows of each DataFrame
print("Month 7 Data:")
df_7.show(5)

print("Month 4 Data:")
df_4.show(5)

Month 7 Data:
+---+----------+----+-------------+----------+-----------------+-------------+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|
+---+----------+----+-------------+----------+-----------------+-------------+
|M1V|2024-07-01|   1|    SGS <50kW|    Tiered|           3125.6|         1716|
|L7M|2024-07-01|   1|    SGS <50kW|       TOU|           1563.8|          683|
|L9W|2024-07-01|   1|  Residential|    Tiered|            925.0|         1232|
|M2J|2024-07-01|   1|    SGS <50kW|    Tiered|            598.0|          267|
|K2C|2024-07-01|   1|  Residential|       TOU|           5095.2|         7714|
+---+----------+----+-------------+----------+-----------------+-------------+
only showing top 5 rows

Month 4 Data:
+---+----------+----+-------------+----------+-----------------+-------------+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|
+---+----------+----+-------------+----------+-----------------+-------------+
|K7V|2024-04-01|   1|    SGS <50kW|       TOU|            956.2|          500|
|N0P|2024-04-01|   1|    SGS <50kW|  Retailer|           1036.2|          248|
|L6H|2024-04-01|   1|  Residential|    Tiered|           1126.1|         2248|
|L0G|2024-04-01|   1|  Residential|    Tiered|           1615.9|         1932|
|M9R|2024-04-01|   1|    SGS <50kW|       TOU|             24.8|           26|
+---+----------+----+-------------+----------+-----------------+-------------+
only showing top 5 rows

In [137]:
# combine all data frames
df = df_11.union(df_7).union(df_4)
df.show(5)

+---+----------+----+-------------+----------+-----------------+-------------+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|
+---+----------+----+-------------+----------+-----------------+-------------+
|L6R|2024-11-01|   1|  Residential|    Tiered|            697.2|         1177|
|N6C|2024-11-01|   1|  Residential|    Tiered|            850.9|         1832|
| N9|2024-11-01|   1|    SGS <50kW|  Retailer|           1773.6|          360|
|M3K|2024-11-01|   1|    SGS <50kW|       TOU|            267.4|          283|
|L7A|2024-11-01|   1|    SGS <50kW|  Retailer|            278.1|           58|
+---+----------+----+-------------+----------+-----------------+-------------+
only showing top 5 rows

In [140]:
print(f"Total rows in 11 dataset: {df_11.count()}")
print(f"Total rows in 7 dataset: {df_7.count()}")
print(f"Total rows in 4 dataset: {df_4.count()}")

Total rows in 11 dataset: 1382486
Total rows in 7 dataset: 1436527
Total rows in 4 dataset: 1361441

In [138]:
print(f"Total rows in combined dataset: {df.count()}")

Total rows in combined dataset: 4180454

In [141]:
df.printSchema()

root
 |-- FSA: string (nullable = true)
 |-- DATE: date (nullable = true)
 |-- HOUR: integer (nullable = true)
 |-- CUSTOMER_TYPE: string (nullable = true)
 |-- PRICE_PLAN: string (nullable = true)
 |-- TOTAL_CONSUMPTION: double (nullable = true)
 |-- PREMISE_COUNT: integer (nullable = true)

In [142]:
# Save all data as Parquet
df_11.write.parquet("data_november.parquet")
df_7.write.parquet("data_july.parquet")
df_4.write.parquet("data_april.parquet")

In [143]:
df.write.parquet("combined_data.parquet")

In [ ]:
df_november = spark.read.parquet("data_november.parquet")
df_july = spark.read.parquet("data_july.parquet")
df_april = spark.read.parquet("data_april.parquet")

# load the combined dataset
df = spark.read.parquet("combined_data.parquet")

# Verify the data
df.show(5)
df.printSchema()

In [146]:
# Count missing or null values for each column
numeric_cols = ['TOTAL_CONSUMPTION', 'PREMISE_COUNT']

df.select([
    count(when(col(c).isNull() | isnan(col(c)), c)).alias(c)
    for c in numeric_cols
]).show()

+-----------------+-------------+
|TOTAL_CONSUMPTION|PREMISE_COUNT|
+-----------------+-------------+
|                0|            0|
+-----------------+-------------+

In [147]:
# Add new column to calculate average consumption per premise
from pyspark.sql.functions import col

df = df.withColumn("AVG_CONSUMPTION_PER_PREMISE", col("TOTAL_CONSUMPTION") / col("PREMISE_COUNT"))
df.show(5)

+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|AVG_CONSUMPTION_PER_PREMISE|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+
|L6R|2024-11-01|   1|  Residential|    Tiered|            697.2|         1177|         0.5923534409515718|
|N6C|2024-11-01|   1|  Residential|    Tiered|            850.9|         1832|         0.4644650655021834|
| N9|2024-11-01|   1|    SGS <50kW|  Retailer|           1773.6|          360|          4.926666666666667|
|M3K|2024-11-01|   1|    SGS <50kW|       TOU|            267.4|          283|         0.9448763250883392|
|L7A|2024-11-01|   1|    SGS <50kW|  Retailer|            278.1|           58|          4.794827586206897|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+
only showing top 5 rows

In [148]:
# Extract useful time-related features from the DATE column
from pyspark.sql.functions import year, month, dayofmonth

df = df.withColumn("YEAR", year(df["DATE"]))
df = df.withColumn("MONTH", month(df["DATE"]))
df = df.withColumn("DAY", dayofmonth(df["DATE"]))
df.show(5)

+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|AVG_CONSUMPTION_PER_PREMISE|YEAR|MONTH|DAY|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
|L6R|2024-11-01|   1|  Residential|    Tiered|            697.2|         1177|         0.5923534409515718|2024|   11|  1|
|N6C|2024-11-01|   1|  Residential|    Tiered|            850.9|         1832|         0.4644650655021834|2024|   11|  1|
| N9|2024-11-01|   1|    SGS <50kW|  Retailer|           1773.6|          360|          4.926666666666667|2024|   11|  1|
|M3K|2024-11-01|   1|    SGS <50kW|       TOU|            267.4|          283|         0.9448763250883392|2024|   11|  1|
|L7A|2024-11-01|   1|    SGS <50kW|  Retailer|            278.1|           58|          4.794827586206897|2024|   11|  1|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
only showing top 5 rows

In [149]:
df.write.parquet("cleaned_data.parquet")

In [150]:
cleaned_df = spark.read.parquet("cleaned_data.parquet")
cleaned_df.show(5)

+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|AVG_CONSUMPTION_PER_PREMISE|YEAR|MONTH|DAY|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
|M1V|2024-07-01|   1|    SGS <50kW|    Tiered|           3125.6|         1716|         1.8214452214452215|2024|    7|  1|
|L7M|2024-07-01|   1|    SGS <50kW|       TOU|           1563.8|          683|         2.2896046852122987|2024|    7|  1|
|L9W|2024-07-01|   1|  Residential|    Tiered|            925.0|         1232|         0.7508116883116883|2024|    7|  1|
|M2J|2024-07-01|   1|    SGS <50kW|    Tiered|            598.0|          267|         2.2397003745318353|2024|    7|  1|
|K2C|2024-07-01|   1|  Residential|       TOU|           5095.2|         7714|         0.6605133523463832|2024|    7|  1|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
only showing top 5 rows

In [153]:
# Total consumption by FSA
cleaned_df.groupBy("FSA").sum("TOTAL_CONSUMPTION").orderBy("sum(TOTAL_CONSUMPTION)", ascending=False).show()

+---+----------------------+
|FSA|sum(TOTAL_CONSUMPTION)|
+---+----------------------+
| L3|   1.963350712999995E8|
| L2|  1.9387394350000045E8|
|K0K|   1.744444611000002E8|
|K0A|  1.5150941259999973E8|
|N0B|  1.3261266170000006E8|
| K9|  1.2813028050000003E8|
|N0G|  1.2214559329999964E8|
|K0L|  1.1783542199999988E8|
| P0|  1.1212862569999984E8|
|L0R|  1.0869273860000002E8|
|N0M|  1.0379143969999993E8|
|K0M|   9.777870250000003E7|
|L4N|   8.978277319999997E7|
|L0S|   8.860211680000019E7|
|N0H|   8.687804739999993E7|
|L7A|    7.68201862999999E7|
|L9T|   7.643831489999999E7|
|N0L|   7.382845870000014E7|
|N0P|   7.370259110000011E7|
|K0C|   7.290410710000011E7|
+---+----------------------+
only showing top 20 rows

In [157]:
# Consumption Trends Over Time
cleaned_df.groupBy("DATE").sum("TOTAL_CONSUMPTION").orderBy("DATE").show()

+----------+----------------------+
|      DATE|sum(TOTAL_CONSUMPTION)|
+----------+----------------------+
|2024-04-01|   1.306135009999986E8|
|2024-04-02|  1.3364014919999984E8|
|2024-04-03|  1.3763896589999908E8|
|2024-04-04|  1.4010338579999977E8|
|2024-04-05|   1.382504514999998E8|
|2024-04-06|  1.3253077459999958E8|
|2024-04-07|   1.278725662000003E8|
|2024-04-08|  1.2383743240000027E8|
|2024-04-09|  1.1767297830000104E8|
|2024-04-10|  1.1342947549999955E8|
|2024-04-11|   1.210748277999998E8|
|2024-04-12|  1.2502703879999946E8|
|2024-04-13|  1.3369126979999961E8|
|2024-04-14|  1.2808154240000091E8|
|2024-04-15|  1.1816901529999965E8|
|2024-04-16|  1.1662494509999979E8|
|2024-04-17|  1.2688261929999976E8|
|2024-04-18|  1.2394356249999923E8|
|2024-04-19|   1.229742284000008E8|
|2024-04-20|  1.3332417320000069E8|
+----------+----------------------+
only showing top 20 rows

In [158]:
# Consumption by Customer Type
cleaned_df.groupBy("CUSTOMER_TYPE").sum("TOTAL_CONSUMPTION").orderBy("sum(TOTAL_CONSUMPTION)", ascending=False).show()

+-------------+----------------------+
|CUSTOMER_TYPE|sum(TOTAL_CONSUMPTION)|
+-------------+----------------------+
|  Residential|  1.047162833740033...|
|    SGS <50kW|  2.7592963018998985E9|
+-------------+----------------------+

In [162]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [163]:
cleaned_df.show(5)

+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
|FSA|      DATE|HOUR|CUSTOMER_TYPE|PRICE_PLAN|TOTAL_CONSUMPTION|PREMISE_COUNT|AVG_CONSUMPTION_PER_PREMISE|YEAR|MONTH|DAY|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
|M1V|2024-07-01|   1|    SGS <50kW|    Tiered|           3125.6|         1716|         1.8214452214452215|2024|    7|  1|
|L7M|2024-07-01|   1|    SGS <50kW|       TOU|           1563.8|          683|         2.2896046852122987|2024|    7|  1|
|L9W|2024-07-01|   1|  Residential|    Tiered|            925.0|         1232|         0.7508116883116883|2024|    7|  1|
|M2J|2024-07-01|   1|    SGS <50kW|    Tiered|            598.0|          267|         2.2397003745318353|2024|    7|  1|
|K2C|2024-07-01|   1|  Residential|       TOU|           5095.2|         7714|         0.6605133523463832|2024|    7|  1|
+---+----------+----+-------------+----------+-----------------+-------------+---------------------------+----+-----+---+
only showing top 5 rows

In [164]:
print(f"Total rows in combined dataset: {cleaned_df.count()}")

Total rows in combined dataset: 4180454

In [165]:
# Save the cleaned data to Google Drive
cleaned_df.write.parquet("/content/drive/My Drive/TeamFiles/cleaned_data.parquet")